<!DOCTYPE html>
<html lang="en">
<head>
  <title> Recommendation recipes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<script>
    $(document).ready(function(){

        $('.btn').click(function(){
            $.ajax({
                url: '/display',
                type: 'get',
                contentType: 'application/json',
                data: {
                    //button_text: $(this).text(),
                    button_ID: $(this).attr('id')
                },
                success: function(button_ID){
                    $('.btn').text(button_ID)
                    console.log(button_ID)
                }
            })
        })
    })

</script>
<style>
  .divc {
          margin: 0 auto; /* Added */
          float: none; /* Added */
          margin-left: 100px; /* Added */
  }    
</style>
<body>
    <br><br>
    <h4 align="center">Showing Recommended Recipes for : {{ingredients}}!</h4> 
    <br><br>
    <div class="divc" style="margin-left: auto;">
        <form action="{{ url_for("display")}}" method="post">
            <div class="container" >
                <div class="m-4">
                    <div class="col row-cols-1 row-cols-md-3 g-3">
                        <div class="row">
                            <div class="card text-center">
                                <div class="card-body">
                                <h5 class="card-title">Recipe 1</h5>
                                <p class="card-text">{{recipe_name[0]}}</p>
                                <button type="submit" class="btn btn-primary"  name="submit_button" value="0">QUICK VIEW </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card text-center">
                                <div class="card-body">
                                <h5 class="card-title">Recipe 2</h5>
                                <p class="card-text">{{recipe_name[1]}}</p>
                                <button type="submit" class="btn btn-primary" name="submit_button" value="1">QUICK VIEW </button>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="card text-center">
                                <div class="card-body">
                                <h5 class="card-title">Recipe 3</h5>
                                <p class="card-text">{{recipe_name[2]}}</p>
                                <button type="submit" class="btn btn-primary" name="submit_button" value="2">QUICK VIEW </button>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="card text-center">
                                <div class="card-body">
                                <h5 class="card-title">Recipe 4</h5>
                                <p class="card-text">{{recipe_name[3]}}</p>
                                <button type="submit" class="btn btn-primary" name="submit_button" value="3">QUICK VIEW </button>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="card text-center">
                                <div class="card-body">
                                <h5 class="card-title">Recipe 5</h5>
                                <p class="card-text">{{recipe_name[4]}}</p>
                                <button type="submit" class="btn btn-primary" name="submit_button" value="4">QUICK VIEW </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</body>
</html>