<h3> Showing Recommended Recipes </h3>

</header>


<div class="container" >
    <div class="card card1">
        <div class="card-body">
          <h5 class="card-title">Recipe 1</h5>
          <p class="card-text">{{recipe_name[0]}}</p>
          <button type="button" class="btn btn-primary">QUICK VIEW </button>
        </div>
    </div>

    <div class="card card2">
        <div class="card-body">
          <h5 class="card-title">Recipe 2</h5>
          <p class="card-text">{{recipe_name[1]}}</p>
          <button type="button" class="btn btn-primary">QUICK VIEW </button>
        </div>
    </div>

    <div class="card card3">
        <div class="card-body">
          <h5 class="card-title">Recipe 3</h5>
          <p class="card-text">{{recipe_name[2]}}</p>
          <button type="button" class="btn btn-primary">QUICK VIEW </button>
        </div>
    </div>

    <div class="card card4">
        <div class="card-body">
          <h5 class="card-title">Recipe 4</h5>
          <p class="card-text">{{recipe_name[3]}}</p>
          <button type="button" class="btn btn-primary">QUICK VIEW </button>
        </div>
    </div>

    <div class="card card5">
        <div class="card-body">
          <h5 class="card-title">Recipe 5</h5>
          <p class="card-text">{{recipe_name[4]}}</p>
          <button type="button" class="btn btn-primary">QUICK VIEW </button>
        </div>
    </div>

</div>